body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 0px
}
.buttons .numbers,.operators,.point{
    height: 50px;
    width: 50px;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(54, 54, 54);
    font-weight: 800;
    font-size: medium;
}
.numbers:hover{
    background-color: #626262;
}
.operators:hover{
    background-color: #cacaca;
}
.point:hover{
    background-color: #626262;
}
.calculator{
    height: 433px;
    width: 300px;
    border: transparent;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: rgb(172, 172, 172);
    box-shadow: 5px 5px 15px grey;

}
.calculator input{
    height: 70px;
    width: 296px;
    border: transparent;
    background-color: rgb(0, 16, 0);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content:flex-end;
    font-size: larger;
    font-weight: 600;
    text-align: right;
    
}

.operators{
    background-color: #ffffff;
    color: black;
    font-weight: 800;
    font-size: medium;
}
#equals{
    background-color: #fc7600;
    color: #ffffff;
    font-weight: 800;
    font-size: medium;
}
#equals:hover{
    background-color: #e27c4d;
}